/* CSS */

body{
margin:0px;
padding:0px;
font-family:arial,verdana;
overflow: hidden;
}
input[type="text"]:focus{
	outline: none;
}
#maincontainer {

}
#maincontainer .maincontainer_left{
width:20%;
float:left;
}
#maincontainer .maincontainer_left .header-top-content{
font-size:1.2em;
color:#ffffff;
padding:15px 0px 15px 0px;
text-align:center;
background:#63A8EB;
float:left;
width:100%; 
}
#maincontainer .maincontainer_left .left-side-menu-list{
width:100%;	
float:left;
}
#maincontainer .maincontainer_left .left-side-menu-list ul{
list-style: none;
width:100%;
margin: 0;
padding: 0;
font-size:0.9em;
}
#maincontainer .maincontainer_left .left-side-menu-list ul li a{
text-decoration: none;
display:block;
padding: 16px 12px 16px 22px;
color: #808080;
}
#maincontainer .maincontainer_left .left-side-menu-list ul li a:hover{
background:#F0F0F0;	
}
#maincontainer .maincontainer_left .left-side-menu-list ul li a span{
background: url("../asset/sprite.png");
display: inline-block;
width:30px;
height:28px;
vertical-align: bottom;
margin-right: 8px;
}

#maincontainer .maincontainer_left .left-side-menu-list ul li.input-box a span{
background-position: -24px -16px;	
}
#maincontainer .maincontainer_left .left-side-menu-list ul li.sent a span{
background-position: -65px -16px;	
}
#maincontainer .maincontainer_left .left-side-menu-list ul li.draft a span{
background-position: -104px -16px;
}
#maincontainer .maincontainer_left .left-side-menu-list ul li.trash a span{
background-position: -141px -16px;	
}
#maincontainer .maincontainer_left .left-side-label-menu-list{
width: 81%;
float:left;
border-top:1px solid #E0E0E0;	
margin-left: 27px;
margin-top: 30px;
}
#maincontainer .maincontainer_left .left-side-label-menu-list ul{
list-style: none;
margin:0px;
padding: 0px;	
font-size:0.9em;
}
#maincontainer .maincontainer_left .left-side-label-menu-list ul li b{
color: #808080;
padding: 24px 12px 12px 0px;
display: block;
}
#maincontainer .maincontainer_left .left-side-label-menu-list ul li a{
text-decoration: none;
color: #808080;
display:block;
padding: 12px 12px 12px 0px;	
}
#maincontainer .maincontainer_left .left-side-label-menu-list ul li a.add-new-label{
font-weight:bold;	
}



#maincontainer .maincontainer_right{
width:80%;
float:right;
}
.mail-option-header{
	display:none;
}
#maincontainer .maincontainer_right .top-content{
width:100%;	
padding-top:0px;
float: left;
-webkit-box-shadow:  0 8px 72px -6px #D0D0D0;
-moz-box-shadow:  0 8px 72px -6px #D0D0D0;
box-shadow:  0 8px 72px -6px #D0D0D0;
}
.scorll #maincontainer .maincontainer_right .top-content{
position: fixed;
background:#FFFFFF;
z-index: 1000;	
}


#maincontainer .maincontainer_right .top-header.top-fixed ul{
width: 30.5%;
}


#maincontainer .maincontainer_right ul.top-header{
float:right;
margin:0px 20px 0px 0px;
padding:11px 0px 11px 0px;
list-style: none;
}
#maincontainer .maincontainer_right ul.top-header li{
background:url("../asset/sprite.png") 0 0;
position:relative;
display:inline-block;
width:30px;
height:28px;
cursor:pointer;
list-style: none;
}
#maincontainer .maincontainer_right ul.top-header li.profile_icon{
background:url("../asset/face_icon.png") 0 0 no-repeat;
background-size:100% 100%;
margin-right:10px;
position:relative;
}
#maincontainer .maincontainer_right ul.top-header li.profile_icon span{
position:absolute;
background:url("../asset/status.png") 0 0;
width:16px;
height:16px;
right:0px;
bottom:0px;
}
#maincontainer .maincontainer_right ul.top-header li.profile_icon span.available_stat{
background-position: 0 -51px;

}
#maincontainer .maincontainer_right ul.top-header li.profile_icon span.away_stat{
background-position: -16px -33px;

}
#maincontainer .maincontainer_right ul.top-header li.message-box{
background-position:430px 166px;
}
#maincontainer .maincontainer_right ul.top-header li.alert{
background-position:386px 166px;
}
#maincontainer .maincontainer_right ul.top-header li.status{
background-position:345px 166px;
}
#maincontainer .maincontainer_right .message-box-container{
width:100%;
float:left;
}
.scorll #maincontainer .maincontainer_right .message-box-container{
margin-top:55px;	
}
.scorll #maincontainer .maincontainer_right ul.top-header{
width: 30.5%;	
}
.scorll ul.mail-option-header{
display:block
}
.scorll ul.mail-option-header li.checkbox-container{
width: 95px;
background:none;
}
.scorll ul.mail-option-header li.checkbox-container span{
margin-top: 6px;
display: inline-block;
vertical-align: top;
color: #808080
}
#maincontainer .maincontainer_right .message-box-container .message-box-container-top{
width: 99.8%;
margin:0px;
padding: 30px 0px 0px 0px;
border-left:1px solid #E0E0E0;
border-bottom:1px solid #E0E0E0;
float:left;
}
#maincontainer .maincontainer_right .message-box-container .message-box-container-top .title-text{
float:left;	
width:75%;
font-family: Verdana, Geneva, sans-serif;
color: #E0E0E0;
font-size:1.2em;
padding: 9px 0 0 20px;
}
#maincontainer .maincontainer_right .message-box-container .message-box-container-top .search-textbox{
float:right;	
width:20%;
background:#F0F0F0;
border:1px solid #F0F0F0;
border-radius: 17px;
padding: 0 0 4px 0;
margin-right: 26px;
min-width: 209px;
}
#maincontainer .maincontainer_right .message-box-container .message-box-container-top .search-textbox span{
background: url("../asset/sprite.png") -206px -64px;
position:relative;
display:inline-block;
width:30px;
height:28px;
vertical-align: bottom;
}
#maincontainer .maincontainer_right .message-box-container .message-box-container-top .search-textbox input[type="text"]{
display:inline-block;
border: none;
background:#F0F0F0;
height: 20px;
}
#maincontainer .maincontainer_right .message-box-container .mail-box-option{
float:left;
width:100%;
margin-bottom:10px;
}
#maincontainer .maincontainer_right .message-box-container .mail-box-option ul.mail-option, .scorll ul.mail-option-header{
float:left;
list-style: none;	
margin: 10px 0 0 17px;
padding: 0;
}
#maincontainer .maincontainer_right .message-box-container .mail-box-option ul.mail-option li,.scorll ul.mail-option-header li{
display:inline-block;
background:url("../asset/sprite.png") 0 0;
width:30px;
height:28px;
margin-right:5px;
cursor: pointer;
}
#maincontainer .maincontainer_right .message-box-container .mail-box-option ul.mail-option li.newfolder,.scorll ul.mail-option-header li.newfolder{
background-position: -185px -20px;	
}
#maincontainer .maincontainer_right .message-box-container .mail-box-option ul.mail-option li.tag,.scorll ul.mail-option-header li.tag{
background-position: -228px -20px;	
}
#maincontainer .maincontainer_right .message-box-container .mail-box-option ul.mail-option li.divider,.scorll ul.mail-option-header li.divider{
background-position: -156px -112px;
width: 10px;	
}
#maincontainer .maincontainer_right .message-box-container .mail-box-option ul.mail-option li.delete,.scorll ul.mail-option-header li.delete{
background-position: -268px -20px;	
}
#maincontainer .maincontainer_right .message-box-container .mail-box-option ul.mail-option li.info,.scorll ul.mail-option-header li.info{
background-position: -306px -20px;	
}
#maincontainer .maincontainer_right .message-box-container .message-list{
border-left:1px solid #E0E0E0;
border-bottom:1px solid #E0E0E0;
float:left;
width: 98.2%;
padding: 17px 0 17px 16px;
display:table-row;
}
#maincontainer .maincontainer_right .message-box-container .message-list:hover,#maincontainer .maincontainer_right .message-box-container .message-list.selected{
background:#F5FAFE;
border-left: 1px solid #63A8EB;
}
#maincontainer .maincontainer_right .message-box-container .message-list .checkbox-cell{
display:table-cell;
vertical-align: middle;
padding-right: 15px;
}
#maincontainer .maincontainer_right .message-box-container .message-list .start-icon{	
display:table-cell;
vertical-align: middle;
padding-right: 18px;
}
#maincontainer .maincontainer_right .message-box-container .message-list .start-icon span{
width:16px;
height: 16px;
display:block;
background:url("../asset/sprite.png") 0 0;	
}
#maincontainer .maincontainer_right .message-box-container .message-list .start-icon span.normal{
background-position: -246px -71px;
}
#maincontainer .maincontainer_right .message-box-container .message-list .start-icon span.important{
background-position: -277px -71px;
}
#maincontainer .maincontainer_right .message-box-container .message-list .mail-profile-img{
display:table-cell;
vertical-align: middle;
padding-right: 14px;
}
#maincontainer .maincontainer_right .message-box-container .message-list .message{
display:table-cell;
vertical-align: middle;
padding-right: 20px;
width: 79%;
}
#maincontainer .maincontainer_right .message-box-container .message-list .message .messager-name{
color: #808080;
font-size: 0.9em;
font-weight: bold;
padding-bottom:8px;
}
#maincontainer .maincontainer_right .message-box-container .message-list .message .message-sub{
color: #808080;
font-size: 0.7em;
}
#maincontainer .maincontainer_right .message-box-container .message-list .date-and-time{
display:table-cell;
vertical-align: middle;
margin-right:10px;
text-align:right;
color: #808080;
font-size: 0.7em;
}
#maincontainer .maincontainer_right .message-box-container .message-list .date-and-time .recvied-time{
padding-bottom: 8px;	
}

/* Check Box custom degin*/
input[type='checkbox']{
display:none;	
}
.checkbox{
background: url("../asset/sprite.png") -25px -109px no-repeat;
width:30px;
height:28px;
display: inline-block;
}
.checkbox.checked{
background-position: -69px -109px;	
}
.checkbox.multiselect{
background-position: -182px -109px;	
}
